{% extends 'main.html' %}
{% block content %}
{% if page == 'login' %}
<div class="box-signup">
    <form action="" method="POST">
        {% csrf_token %}
        <h1>Login</h1>
        <input type="text" name="username" placeholder="Enter username"/>
        <input type="password" name="password" placeholder="Enter password"/>
        <input type="submit" value="Login"/>
    </form>
        <p>New user?
        <a href="{% url 'signup' %}">Sign-up</a>
    </p>
</div>
{% else %}
<div class="box-signup">
    <form action="" method="POST">
        {% csrf_token %}
            {{form.as_p}}
        <input type="submit" value="Sign-up"/>
    </form>
        <p>Already have an account?
        <a href="{% url 'login' %}">Login</a>
    </p> 
</div>
{% endif %}
{% endblock content %}
